*{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none !important;
  color: #000;
}

.order-details label{
  font-size: 12px;
  font-weight: 700;
}

.order-details div{
  font-size: 14px;
}

.search-bar{
  width: 40%;
  margin-left: 5%;
}

.ui-menu{
  z-index: 3500 !important;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0a6ebd #444444;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #444444;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0a6ebd;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }